@model HomeModel;

<html>
<head>
	<title>Home</title>
</head>
<body>
	<div>
		<h1>User-Agent</h1>
		<p>@Model.UserAgent</p>

		<h1>Configs</h1>
		<p>
			<ul>
				<li><a href="jsonconfig">Json</a></li>
				<li><a href="xmlconfig">XML</a></li>
			</ul>
		</p>

		<h1>Data</h1>
		<p>
			<ul>
				<li><a href="products">Products</a></li>
			</ul>
		</p>
	</div>
</body>
</html>